body {

background-color: darkslategrey;
color:beige;
font-family: Arial, Helvetica, sans-serif;
padding:2rem;
line-height: 1.6;
}




h1{
font-size:2rem;
font-weight:600;
color: cornsilk;
text-align:center;
margin-bottom:1rem;
}

img{
    width: 160px;
    height: 160px;
    border-radius: 60%;
    object-fit: cover;
    border: 4px solid burlywood;
    display: block;
    margin: 0 auto;
    
}




section {
    background-color: darkslategray;
    padding:1rem;
    margin-top:2rem;
    border-radius:10px;
}

section h2 {
    color: cornsilk;
    border-bottom: 1px solid burlywood;
    padding-bottom: 0.4rem;
}

ul{
    padding-left: 1.4rem;
}

li {
    margin-bottom: 0.5rem;
}


.header {
    display: flex;
    align-items:center;
    gap: 10px;
}


.profile-pic{
    width: 100px;
    border-radius: 50%;
}


.intro-img {
    width: 120px;
    height: 100px;
    border-radius: 50%;
}


